/* variables */

:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-violet-btn-font: hsl(257, 40%, 45%);
  --clr-magenta: hsl(300, 69%, 71%);
  
  --ff-poppins: "Poppins", sans-serif;
  --ff-open_sans: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 600;
}

/* resets */

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svgimg,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* utilities */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* general */

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-open_sans);
}

main {
  background-color: var(--clr-violet);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 100vh;
  width: 500px;
  padding: 2.75rem 3.25rem 4rem 3.25rem;
}

.logo {
  width: 42%;
  margin-bottom: .25rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 75%;
}

.card__img {
  margin: 5rem 0;
}

.card__content {
  font-family: var(--ff-poppins);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
  margin-bottom: 0.75rem;
}

.content__title {
  font-weight: 600;
  letter-spacing: 0.01rem;
  font-size: 2rem;
  line-height: 3rem;
}

.content__desc {
  font-weight: 300;
  font-size: 1.225rem;
  margin-bottom: 1.35rem;
  line-height: 1.925rem;
}

.content__btn {
  border: none;
  border-radius: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, .40) 0px 3px 8px;
  padding: 17px 0px 15px 0px;
  margin: 0px 60px;
  color: var(--clr-violet-btn-font);
  font-weight: 400;
}

.content__btn:is(:hover, :focus) {
  color: white;
  background-color: var(--clr-magenta);
  cursor: pointer;
}

.card__social {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  column-gap: 0.825rem;
} 

.social-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 1.1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.social-icon-box:is(:hover, :focus) {
  color: var(--clr-magenta);
}

footer {
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 501px) {
  main {
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    max-height: 800px;
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.25rem 3.325rem 1.675rem 3rem;
  }

  .logo {
    width: 140px;
    margin-bottom: 3.625rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .card__img {
    width: 82rem;
    max-width: 82rem;
    margin: 0px;
  }

  .card__content {
    padding-left: 2.5rem;
    padding-top: 2rem;
    text-align: left;
    font-size: 0.5rem;
    gap: 0.875rem
  }

  .content__title {
    font-size: 1.725rem;
    line-height: 2.475rem;
  }

  .content__desc {
    font-size: .6925rem;
    line-height: 1.15rem;
    margin-bottom: .1rem;
  }

  .card__social {
    padding: 0px;
    margin-top: 0px;
    justify-content: end;
    align-items: center;
  }

  .content__btn {
    width: 125px;
    font-size: .795rem;
    margin-left: 0px;
    padding: 9px 0px;
  }

  .social-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.675rem;
    height: 1.675rem;
    font-size: 0.8225rem;
    border-style: solid;
    border-width: 0.0833rem;
    border-radius: 50%;
    color: white;
    text-decoration: none;
  }
}